# MongoDB
MONGODB_URL=mongodb+srv://shri123:123@cluster0.lkdmpus.mongodb.net/
MONGODB_DB_NAME=cognicast

# JWT Auth
JWT_SECRET=cognicast-secret-12345
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24

# Google Gemini
GEMINI_API_KEY=AIzaSyAihxvkJuJ1eVqCjGv0xDUJODwYr7_vmaY

# ElevenLabs
ELEVENLABS_API_KEY=sk_8c3752609a40932241c2fbb5cb76f5f89c3eb75db6e58250
ELEVENLABS_STUDENT_VOICE_ID=21m00Tcm4TlvDq8ikWAM
ELEVENLABS_MENTOR_VOICE_ID=ErXwobaYiN019PkySvjV

# Set to "true" to skip real audio generation (for dev/testing)
MOCK_AUDIO=true
